<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="SiteExt">
        <wb-resource deploy-path="/" source-path="/webapp" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/.apt_generated"/>
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/" source-path="/WebContent"/>
        <dependent-module archiveName="CrystalEngine-1.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/CrystalEngine/CrystalEngine">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="java-output-path" value="/SiteExt/target/classes"/>
        <property name="context-root" value="SiteExt"/>
    </wb-module>
</project-modules>
